[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
speechrecognition = "*"
pyaudio = "*"
flac2all = "*"
google-api-python-client = "*"
vext = "*"
pyautogui = "*"
pyclip = "*"
pyperclip = "*"
pygame = "*"
argparse = "*"
pykakasi = "*"
selenium-wire = "*"
gtts = "*"
pydub = "*"
hjson = "*"
pynput = "*"

[dev-packages]

[requires]
python_version = "3.8"
